<!doctype html>
<html>
<head>
    <title>Recycle Me && Earn</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="style.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
</head>
<body>
  <!DOCTYPE html>
  <html lang="en">
  <div class="header">
    <h1>Recyle Me && Earn</h1>
    <p> Welcome to RME!</p>
  </div>
    <div class="topnav">
      <a class="active" href="/home">Home</a>
      <!-- <a href="/about">about</a> -->
      <a href="/sponsor">sponsor</a>
      <a href="/other">RME near me</a>
      <a href="/board">board</a>
    </div>

    