<!doctype html>
<html>
<head>
    <title>Recycle Me && Earn</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  
    <link rel="stylesheet" href="style.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Account</title>
</head>
<body>
  <!DOCTYPE html>
  <html lang="en">
  <div class="header">
 
  </div>
    <div class="topnav">
      <a class="active" href="/home">Welcome</a>
      <!-- <a href="/about">about</a> -->
      <a href="/sponsor">Sponsor</a>
      <a href="/board">Board</a>
      <a href="/other">RME Near Me</a>
      <a href="/profile">Home</a>
      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>
  </body>

    