<%- include("partials/header") %>
<section>
  <div id="about">
    <h1>  Hello and Welcome to Reycle And Earn. </h1>
    This application has been created to help you and the world you live in.Recycling has many benefits such as:
     <ol>
        <li>Conserving natural resources</li>
       <li>Protecting ecosystems and wildlife</li>
       <li>Saving energy </li>
       <li>Cutting climate-changing carbon emissions</li>
       <li>Cheaper than waste collection and disposal</li>
     </ol>
     So here we have a way where you can contribute to these benfitis as well as earning. By scanning both QR and bar code you will accumalte points you can redeem. Thank you for taking a part in this change. -Monica Contreras
 </body>
</section> 


   
    







  <script src='main.js'></script>
 
</body>
</html>