<%- include("partials/header") %>

<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1> Recycle & Earn</h1>
        <img src="img/RecycleAndEarn.png" alt="21 Savage Profile Photo">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>