<%- include("partials/header") %>
<link rel="stylesheet" href="home.css">
<body>

<section>
    <div id="about">
      <h1>  Hello and Welcome to RME </h1>
      <strong>This application has been created to help you and the world you live in.Recycling has many benefits such as:</strong>
       <ul>
          <li>Conserving natural resources</li>
         <li>Protecting ecosystems and wildlife</li>
         <li>Saving energy </li>
         <li>Cutting climate-changing carbon emissions</li>
         <li>Cheaper than waste collection and disposal</li>
       </ul>
       <p class="statement">
      You can contribute to these benfitis! Along with earning something nice for yourself too! Thank you for taking a part in this change. -Monica Contreras
       </p>
   </body>
  </section> 

<div class="container">

    <div class="jumbotron text-center">
        <h1> Recycle Me && Earn</h1>
        <img src="img/RecycleAndEarn.png" alt="21 Savage Profile Photo">


        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>