<%- include("partials/header") %>
<link rel="stylesheet" href="board.css">

<div class="container"> </div>


  <div class="leaderBoard"> </div>

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6"> 
      <div class="board">
        <h3><span> Dash Board</span> 
        </h3>
   
        <ul class="messages">
          <span id="brand"> items recycled </span>
          <span id="number"> # of times recycled </span>
          <% 
          const barCodes = Object.keys(barCodeCount)
          for(var i=0; i<barCodes.length; i++) {
            %>
            <li class="counter">
              
              <%= barCodes[i] %> <span>
              <%= barCodeCount[barCodes[i]] %>
           <span>
            </li>
          <% } %>
         
          </ul>
          <img id="data" src="img/data.png" ></img>
      </div>
     
      
     

     
       
          

   
           


 