<%- include("partials/header") %>

<div class="container">


  <div class="leaderBoard">

    <!-- LOCAL INFORMATION -->
    <div class="col-sm-6">
      <div class="well">
        <h3><span class="fa fa-user"></span> Leader Board</h3>

        <!--creating a spot to show the data  -->
      
          
          <p>
            <strong>barcode/strong>: <%= user._id %><br>
              <strong>email</strong>: <%= user.local.email %><br>
                <strong> Earned Points</strong>: <%= user.EarnedPoints %><br>
          </p>

   
           

      </div>
    </div>

   
  </div>
  </div>
 