


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="map">
    <div>
        <h3> My Google Map</h3>
​

​
      <script>
            function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 41.856080, lng: -71.391910},
              zoom: 8
            });
          }
          function initMapTwo() {
              let options = {
                  zoom: 11,
                  center: { lat: 39.9526, lng: -75.1652 }
              }
              let map = new google.maps.Map(document.getElementById('map'), options)
              fetch('locations', {
                  method: 'get',
                  headers: { 'Content-Type': 'application/json' },
              })
                  .then(response => {
                      console.log(response)
                      if (response.ok) return response.json()
                  })
                  .then(data => {
                      console.log(data)
                          for (let j = 0; j < data.locations.length; j++) {
                              let userAddress = data.locations[j].address;
                              let queryAddress = userAddress.split(' ').join('+')
                              let userCoordinates
                              fetch(
                                  `https://maps.googleapis.com/maps/api/geocode/json?address=${queryAddress}&key=AIzaSyChzooPvmWzWzfK5O-m08fYRijT7XAwxVo`
                              )
                                  .then(res => res.json())
                                  .then(function (result) {
                                    console.log(result)
                                      let locations = []
                                      let lat = result.results[0].geometry.location.lat
                                      let lng = result.results[0].geometry.location.lng
                                      let coords = [lat, lng]
                                      locations.push(coords)
                                      var infowindow = new google.maps.InfoWindow();
                                      var marker, i;
                                      for (i = 0; i < locations.length; i++) {
                                        console.log(locations[i][0], locations[i][1])
                                          marker = new google.maps.Marker({
                                              position: new google.maps.LatLng(locations[i][0], locations[i][1]),
                                              map: map,
                                              // icon: {
                                              // // add image url instead of binary
                                              // scaledSize: new window.google.maps.Size(50, 50)
                                              // },
                                              mapTypeId: google.maps.MapTypeId.ROADMAP,
                                              draggable: false,
                                              title: "pin",
                                              content: '<h1>Location</h1>'
                                          });
                                          google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                              return function () {
                                                  infowindow.setContent(
                                                      `<p></p>`
                                                      );
                                                  infowindow.open(map, marker);
                                              }
                                          })(marker, i));
                                      }
                                  });
                          }
                      
                  })
          }
      </script>

<!-- <script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChzooPvmWzWzfK5O-m08fYRijT7XAwxVo&libraries=places">
</script> -->
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChzooPvmWzWzfK5O-m08fYRijT7XAwxVo&channel=2&callback=initMap"
async defer></script> 
</body>
</html>