<%- include("partials/header") %>
<head>
  <link rel="stylesheet" href="account.css">
  
</head>

  <div class="container">

    <div class="page-header text-center">
      <!-- <h1>Hi User </h1> -->
    </div>

    <div class="row">

      <!-- UNIQUE USER LOCAL INFORMATION -->
      <div class="col-sm-6">
        <div class="well">
          <h3><span class="fa fa-coins"></span> Keep track of your points here!</h3>
          <% if (user) { %>
            <p>
              <strong >id </strong> : <%= user._id %><br >
                <strong  >email </strong>: <%= user.local.email %><br >
              </p>
              <span>
                  <strong> Earned Points</strong>: <%= user.EarnedPoints %><br>
              </span>

     
              <% } %>

              
        </div>
      </div>

     

    </div>
    <section class=steps>
      Once you are located at the designated RME station please follow these steps!
      <ol>
        <li> allow location access</li>
        <li> start the scanner and scan the QR code on the recycle bin </li>
        <li> press the button to stop the scanner </li>
        <li> start the seccond scanner by pressing the 2nd button </li>
        <li> scan the barcode of the item you are recycling </li> 
        <li>wait for the magic button to appear & press it to redeem your points!  </li>
        <li> once you reach over 50pts you can redeem & earn coupons, gift cards, prizes! </li>
          <li> last but not least, say your welcome to our planet & future for helping make small meaningful changes </li> 
        </ol>
    </section>
    
     <!-- THE SCANNER FUNCTIONS ARE FOUND IN THE MAIN.JS -->
 <section class=QR>
    <div id="reader" width="640px" height="480px" ></div>
 </section>
 
 <section class=BARCODE>
    <div id="scanner-container"></div>
    <input type="button" id="btn" value="Start/Stop the scanner" data-id="<% user._id %>"/>
    <span id="scannedBarCode"> </span>
    <span id="scannedQRcode"> </span>
    <button id="submitDeposit"> redeem!</button>
 </section>
  

 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.js"></script>


    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

    <!-- <script src="https://serratus.github.io/quaggaJS/examples/js/quagga.min.js"></script> -->

    <script src="https://kit.fontawesome.com/c0e668a8ad.js" crossorigin="anonymous"></script>
    <script src="main.js"></script>
   
    </body>

    </html>
