body{
  background: rgb(194,247,103);
  background: radial-gradient(circle, rgba(194,247,103,1) 46%, rgba(194,247,103,1) 69%);
  padding-top: 0px;
  color:white;
}
h1{
  color: rgba(72, 3, 138);
}
.header{
  margin-top: 0%;
}
.well{
  margin-left: 50%;
  padding-left: 20px;
  background-color:rgb(77, 4, 155);
}

p{
  display: none;
}
.steps{
  height: 300px;
    width: 400px;
    border: 1px solid black;
    color:black;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: rgb(166, 131, 230);
    box-shadow: 5px 5px 4px black;
}
#reader{
  width: 85%;
}
#submitDeposit{
  background: rgb(194,247,103);
  background: radial-gradient(circle, rgba(194,247,103,1) 46%, rgba(103,247,219,1) 69%);
  height: 50px;
  width:80px;
}