body{
  background-color: rgb(188,227,170);
  background: linear-gradient(0deg, rgba(188,227,170,1) 29%, rgba(69,161,12,1) 88%);
  
}
ul {
  background: #493112;
  padding: 15px;
  width: 50%;
  text-align: center;
}

ul li {
  background: #81e98f;
  padding: 5px;
  text-align: center;
}
.statement{
  border: 20px;
  height:100px;
  width: 200px;
text-align: center;
}

