body{
  background-color: rgb(188,227,170);
  background: linear-gradient(0deg, rgba(188,227,170,1) 29%, rgba(69,161,12,1) 88%);
  padding-top: 0px;
  color:white
}
.well{
  margin-left: 50%;
  padding-left: 20px;
background-color:tan;
}

p{
  display: none;
}
.steps{
  height: 500px;
    width: 400px;
    border: 1px solid black;
    color:black;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    background: rgb(195, 183, 247);
    opacity: 0.5;
    box-shadow: 5px 5px 4px black;
}