body{
  padding-top:80px;
  word-wrap:break-word;
  margin:0px;
}



img{
  height: 300px;
}


.header {
  padding: 200px;
  margin-top: -7%;
  text-align: center;
  background-image: url(img/LOGOrmeDesign.png);
  background-repeat: no-repeat;
  width: 100%;
  color: white;
  font-size: 30px;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(87, 10, 158);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:#aaacf7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:#9050f7;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9050f7;
  color: white;
}

